html {
    font-size: 16px;
}

body {
    font-family: "Courier New", courier, monospace;
    font-size: 1rem;
    margin: 0rem 0rem;
}

img#logo {
    align: center;
    width: 100%;
    max-width: 700px;
    margin: 0rem 0rem;
}

img#swatches {
    width: 50%;
    margin: 1rem 0rem;
}

img.portfolio {
    width: 80%;
    margin: 1rem 0rem;
}

a {
    color: #2D743C;
    text-decoration: none;
}

a.email {
    color: #e42424;
    font-weight: bold;
    text-decoration: none;
}

div.wrapper {
    margin: 0rem;
    padding: 1rem 1rem;
}

div.title {
    margin: 0rem 0rem;
    text-align: center;
}

div.imgs {
    margin: 0rem 0rem;
    text-align: center;
}

div.text {
    color: #000;
    margin: 0rem 0rem 2rem 0rem;
    padding: 0.1rem 1rem;
    border-radius: 1rem;
}

div.portfolio {
    text-align: center;
    background-color: #190909;
    color: #e7e5f7;
    margin: 2rem 0rem;
    padding: 0.1rem 1rem 3rem 1rem;
    border-radius: 1rem;
}

div.button_box{
    display: flex;
}

div.button {
    background-color: #190909;
    color: #e7e5f7;
    font-size: 2rem;
    margin: 0rem 0rem 1rem 0rem;
    padding: 0.3rem 1rem;
    border-radius: 1rem;
    text-align: center;
}

div.button.fixed{
    width: 12rem;
    margin-right: 3rem;
}

h1 {
    font-size: 1rem;
    font-weight: normal;
    margin: 0rem 0rem 1rem 0rem;
}

p.email {
    font-size: 1rem;
    font-weight: normal;
    margin: 1rem 0rem;
}

ul {
    margin-left: 0rem;
    padding-left: 1rem;
}

li {
    list-style: square;
}

/* tablets and up */
@media only screen and (min-device-width: 700px){
    div.wrapper {
        margin: 0rem 10rem 4rem 10rem;
    }
    h1 {
        font-size: 1.2rem;
    }
    p.email {
        font-size: 1.1rem;
    }
}
