html {
    font-size: 16px;
}

body {
    background-image: url(img/gradient_dark.jpg);
    background-size: 100%;
    font-family: "Courier New", courier, monospace;
    font-size: 1rem;
    margin: 0rem 0rem;
}

div.title {
    margin: 0rem 0rem;
    padding: 1rem 1rem;
    text-align: left;
}

div.wrapper {
    margin: 0rem;
}

div.text {
    background-color: #190909;
    color: #e7e5f7;
    margin: 0rem 0rem 1rem 0rem;
    padding: 0.1rem 0rem;
    border-radius: 1rem;
}

div.section {
    padding: 0rem 1rem;
}

div.button_box{
    display: flex;
}

div.button {
    background-color: #190909;
    color: #e7e5f7;
    font-size: 2rem;
    margin: 0rem 0rem 1rem 0rem;
    padding: 0.1rem 1rem;
    border-radius: 1rem;
    text-align: center;
}

div.button.fixed{
    width: 10rem;
    margin-right: 3rem;
}

h1 {
    font-size: 2.4rem;
    font-weight: normal;
    text-align: left;
    margin: 0.5rem 0rem 0rem 0rem;
    color: #ececed;
}

h2 {
    font-size: 1.2rem;
    font-weight: normal;
    text-align: left;
    margin: 0rem 0rem 1rem 0rem;
    color: #999;
}

h4.email {
    font-size: 1.1rem;
    font-weight: normal;
    text-align: left;
    margin: 1rem 0rem;
    color: #000;
}

img#logo {
    width: 20%;
    margin: 1rem 0rem;
}

ul {
    margin-left: 0rem;
    padding-left: 1rem;
}

li {
    list-style: square;
}

a {
    color: #bb6868;
    text-decoration: none;
}

a.email {
    color: #bb6868;
    font-weight: bold;
    text-decoration: none;
}

/* tablets and up */
@media only screen and (min-device-width: 700px){
    div.title {
        margin: 0rem 5rem;
    }
    div.wrapper {
        margin: 0rem 5rem 4rem 5rem;
    }
}
